# Папка с библиотеками (очень тяжелая, не грузить!)
.venv/
venv/

# Кэш питона (мусор)
__pycache__/
*.pyc

# Твои личные данные и пароли (НЕ ГРУЗИТЬ!)
users.json

# Если база знаний очень большая (>100мб), раскомментируй строку ниже:
# school_brain_hybrid.pkl

# Логи ошибок
errors.txt
